.testimony-title {
  margin-bottom: 10rem;
}
.testimony-title h1 {
  margin-top: 6rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  color: #ffffff00;
  -webkit-text-stroke: 1px #cecae3;
}
a {
  text-decoration: none;
}
.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #26007e;
  display: grid;
  height: 500px;
  margin: 20px auto;
  width: 500px;
  transition: 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.front {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.front .blue {
  background-color: #5e33f8;
  grid-column: 8 / span 5;
  grid-row: 1 / span 4;
}
.front .darkBlue {
  background-color: #280b5f;
  grid-column: 1 / span 7;
  grid-row: 1 / span 4;
}
.front .violet {
  background-color: #36007c;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  grid-row: 1 / span 3;
  grid-column: 1 / span 11;
  position: relative;
  z-index: 2;
}
.front .dots {
  background: radial-gradient(#3d0d96 20%, transparent 19%),
    radial-gradient(#26007e 20%, transparent 19%), transparent;
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  grid-column: 1 / span 12;
  grid-row: 3 / span 2;
  margin: 0 0 15px 20px;
  z-index: 1;
}
.front .personal-intro {
  background: rgb(88, 41, 177);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  grid-column: 2 / span 10;
  grid-row: 2 / span 1;
  justify-content: center;
  z-index: 3;
  font-family: "Poppins", sans-serif;
}
.front .personal-intro :hover {
  background: rgb(108, 57, 201);
}
.front .personal-intro h6 {
  font-size: 20px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  margin: 20px 15px;
}
.personal-intro .head span {
  margin: 2px 30px;
}
.head img {
  border-radius: 5px;
}
.para p {
  margin: 20px 15px;
  font-size: 12px;
  color: rgb(209, 209, 209);
}
h1 {
  text-align: center;
  color: #fff;
  transition: all 0.2s;
  margin-top: 50px;
  cursor: pointer;
}
h1:hover {
  color: #5e33f8;
}

/* mobile */
@media (max-width: 750px) {
  .testimony-title {
    margin-bottom: 5rem;
  }
  .testimony-title h1 {
    margin-top: 2rem;
    font-size: 50px;
  }
  .card {
    height: 450px;
    width: 400px;
  }
}
