<div class="footer">
    <div class="social">
        <h1>CONNECT ME</h1>
        <ul>
            <li><a href="https://github.com/rajeevc5260"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/rajeev-c-596a59223/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/ra___jeev/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/Rajeev__c"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
    <p>Designed by Rajeev <sup>©</sup></p>
</div>