<footer class=" flex flex-col justify-center items-center px-[60px]  bg-[#000] gap-[20px] lg:!py-[40px] py-[30px]">
    <div class="footerLeft">
        <div class="">
            <h1 class="lg:!text-[40px] text-[30px] font-extrabold text-white">RC.</h1>
        </div>
    </div>
    <div class="footerRight">
        <div class="text-white text-center">
            <p class="font-extrabold text-[20px] uppercase ">Stay in touch</p>
            <div class="flex gap-[25px] my-[15px]">
                <a class="flex justify-center items-center w-[40px] h-[40px]  text-[22px] bg-[#6e40c9] rounded-[70px]" href="https://github.com/rajeevc5260"><i class='bx bxl-github'></i></a>
                <a class="flex justify-center items-center w-[40px] h-[40px]  text-[22px] bg-[#6e40c9] rounded-[70px]" href="https://www.instagram.com/ra___jeev/"><i class='bx bxl-instagram' ></i></a>
                <a class="flex justify-center items-center w-[40px] h-[40px]  text-[22px] bg-[#6e40c9] rounded-[70px]" href="https://www.linkedin.com/in/rajeev-c-596a59223/"><i class='bx bxl-linkedin' ></i></a>
            </div>
        </div>
    </div>
</footer>
