<nav class="flex justify-between items-center mx-[60px] pt-[30px]">
    <div class="">
        <h1 class="lg:!text-[32px] text-[30px] font-extrabold">RC.</h1>
    </div>
    <div class="lg:!flex hidden">
        <ul class="flex gap-[15px] navLinks lg:!gap-[35px]">
            <li class="nav-link nav-link-ltr"><a routerLink="">Home</a></li>
            <li class="nav-link nav-link-ltr"><a href="#intro">Intro</a></li>
            <li class="nav-link nav-link-ltr"><a href="#outcomes">Outcomes</a></li>
            <li class="nav-link nav-link-ltr"><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="letsTalkBtn lg:!flex ">
        <button class="border-2 border-[#6e40c9] ease-in duration-300 contactUS font-semibold">Let's talk</button>
    </div>
    <!-- <div class="navMob lg:!hidden grid">
        <div class="grid">
            <ul class="grid gap-[15px] navLinks lg:!gap-[35px]">
                <li class="nav-link nav-link-ltr"><a href="">Home</a></li>
                <li class="nav-link nav-link-ltr"><a href="">Intro</a></li>
                <li class="nav-link nav-link-ltr"><a href="">Outcomes</a></li>
                <li class="nav-link nav-link-ltr"><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="letsTalkBtn lg:!hidden block">
            <button class="border-2 border-[#6e40c9] ease-in duration-300 contactUS font-semibold">Let's talk</button>
        </div>
    </div> -->
</nav>


