<div class="services-main">
  <div class="services-title">
    <h1>Services</h1>
  </div>
  <div class="content">
    <h1>I'm creating digital experience and applications</h1>
    <p>
      Focused on creating UI/UX designs, frontend engineering as well as the
      backend engineering (MEAN STACK). I have worked on different sort of
      websites and applications over a period.
    </p>
    <mat-divider></mat-divider>
    <div class="actionBtn">
      <h3>About</h3>
      <li><i class="fa-solid fa-arrow-right-long"></i></li>
    </div>
    <img src="../../../assets/images/bg1.png" alt="" />
    <p class="emailMe">
      <span
        ><a
          href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKkVJwPvMkKGztxJfjWVhWtZhVBwNmNGJlNBNSrBhPzPDnMJbzQMnMNGzrJKppNWljqWgjs"
          >Email me</a></span>
      if you think we should be working together on interesting projects.
    </p>
  </div>
</div>
