.servicesCard{
    transition: ease-in-out 300ms;
}
.servicesCard:hover{
    background-color: #6e40c9;
    color: white;
    border-color: #6e40c9;
    cursor: pointer;
}
.toolsUsed{
    transition: ease-in-out 300ms;
}
.toolsUsed:hover{
    background-color: #6e40c9;
    color: #FFF;
    border: none;
}
/* .newsletter input{
    padding: 25px;
} */
.newsletter input::placeholder{
    font-weight: 700;
}
.Features {
    overflow-y: hidden; }


    @media only screen and (min-width: 800px) and (max-width: 1040px)  {
    
    .BannerSection{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bannerContent{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutSec2{
        display: grid;
    }
    .Outcomes2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: left;
        
    }
    .certificate{
        padding: 30px !important;
    }
    .services{
        width: 100%;
    }
    .CTA{
        margin-top: 20px;
    }
}
@media(max-width:1300px){

    .landingBannerIcon{
        display: none !important;
    }
}
/* Tab */
@media(max-width:768px){
    .CTA{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .certificate{
        padding:20px ;

    }
    .Outcomes2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: left;
        
    }
    

   .outcomeHead{
        display: flex;
        flex-direction: column;
        justify-content: left;
        /* width: 300px !important; */
        gap: 20px;
    }
    
}


/* Mobile */
@media(max-width:500px){

    .Outcomes2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: left;
        
    }

   .outcomeHead{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 300px !important;
        gap: 20px;
    }
    .slandingstrip{
        display: block;
        text-align: center;
    }
    
}