<div class="main">
    <!-- Banner section -->
<div class="px-[30px] landingBanner">
    <div class="landingBannerIcon z-10 text-[#6e40c9] lg:!flex hidden justify-left items-left flex-col gap-[18px] lg:!pt-[35vh] lg:!absolute overflow-hidden">
        <a href="https://github.com/rajeevc5260" class="text-[18px] duration-500 hover:text-[#000]"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rajeev-c-596a59223/" class="text-[18px] duration-500 hover:text-[#000]"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/ra___jeev/" class="text-[18px] duration-500 hover:text-[#000]"><i class="fa-brands fa-instagram"></i></a>      
    </div>
    <div class="lg:!flex justify-center items-center mt-[40px] BannerSection">
        <div class="bannerContent">
            <h1 class="uppercase lg:!leading-[65px] leading-[50px] lg:!text-[56px] md:!text-[48px] text-[32px] lg:!text-left text-center font-bold lg:!w-[750px]">Hi, I’M Rajeev.<br> a <span class="text-[#6e40c9]"> Software Developer</span> Based on <span class="line-through">India</span></h1>
            <div class="CTA flex flex-wrap lg:!gap-[30px] md:!gap-[25px] gap-[8px] uppercase lg:!text-[22px] md:!text-[20px] text-[18px] lg:!mt-[20px] font-semibold">
                <h3>Design</h3>
                <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9]"></i>
                <h3>Development</h3>
                <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9]"></i>
                <h3>Wordpress</h3>
            </div>
            <div class="lg:!flex md:!flex !grid lg:!mt-[50px] font-semibold CTA">
                <a href="mailto:rajeevc5260@gmail.com?subject=Got%20a%20project%20via%20rajeev's-portfolio" class="bg-[#6e40c9] text-white px-[20px] py-[10px] hover:underline text-center">Got a Project?</a> 
                <a class="px-[20px] py-[10px] border-2 border-[#6e40c9] hover:underline text-center" href="https://drive.google.com/file/d/1zS5slSJcFcJ_-mV20o5tef1tDuqzX6_A/view?usp=sharing" target="_blank">Resume</a>
            </div>
        </div>
        <img class="lg:!w-[420px] md:!w-[380px] w-[340px] lg:!mx-0 mx-auto" src="../../../assets/images/BannerProPic.webp" alt="" >
    </div>
</div>
<!-- Strip lines -->
<div class=" uppercase slandingstrip lg:!mt-[0px] mt-[-30px] ml-[-10px] overflow-hidden lg:!gap-[0px] gap-[10px] flex flex-wrap justify-between bg-[#efefef] py-[22px] px-[40px] Features font-bold lg:!rotate-[-5deg]  ">
    <p>Frontend Development</p>
    <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] "></i>
    <p>UI/UX design</p>
    <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] "></i>
    <p>Web design</p>
    <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] "></i>
    <p>Webflow Design </p>
    <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] "></i>
    <p>Branding</p>
</div>

<!-- small About section -->
<div id="intro" class="aboutSec mx-[30px] lg:!mt-[140px] md:!mt-[90px] mt-[60px] flex flex-col justify-center items-center">
    <div class="lg:!flex grid justify-center gap-[30px] aboutSec2">
        <h2 class="lg:!text-[56px] md:!text-[48px] text-[38px] lg:!leading-[65px] leading-[50px] font-extrabold lg:!w-[450px]  w-full mt-[20px]">Full stack developer and UI/UX designer.</h2>
        <div class="lg:!w-[680px]  w-full">
           <h3 class="lg:!text-[32px] md:!text-[28px] text-[22px] lg:!leading-[42px] leading-[35px] lg:!font-bold md:!font-bold font-semibold">I work with top B2C and B2B teams in India and internationally, and I assist early-stage firms with everything from design to development to hosting.</h3> 
           <p class="lg:!text-[18px] text-[18px] lg:!mt-[20px] mt-[16px]">Send me an <a href="mailto:rajeevc5260@gmail.com?subject=mail%20from%20rajeev's-portfolio" class="text-[#6e40c9] underline font-semibold">email</a> if you think we should collaborate on exciting initiatives.</p>
           <div class="lg:!flex md:!flex grid lg:!justify-between justify-center items-center lg:!gap-[0px] gap-[20px]  lg:!mt-[50px] mt-[30px]">
                <div class="lg:!text-left md:!text-left text-center">
                    <p class="text-[#6e40c9] font-semibold">BORN IN</p>
                    <p class="text-[24px] font-bold">Kerala, India</p>
                </div>
                <div class="lg:!text-left md:!text-left text-center">
                    <p class="text-[#6e40c9] font-semibold">EXPERIENCE</p>
                    <p class="text-[24px] font-bold">1+ Years</p>
                </div>
                <div class="lg:!text-left md:!text-left text-center">
                    <p class="text-[#6e40c9] font-semibold">DATE OF BIRTH</p>
                    <p class="text-[24px] font-bold">06 Sept 1999</p>
                </div>
           </div>
        </div>
    </div>
    <div class="uppercase lg:!flex grid lg:!mt-[120px] md:!mt-[80px] mt-[50px]">
        <div class="text-center w-[307px] py-[20px] border-2 border-black">
            <h3 class="lg:!text-[56px] md:!text-[48px] text-[32px] font-bold">1+</h3>
            <p class=" text-[16px] font-bold ">Years of Experience</p>
        </div>
        <div class="text-center w-[307px] py-[20px] border-2 border-black bg-black text-white">
            <h3 class="lg:!text-[56px] md:!text-[48px] text-[32px] font-bold">10+</h3>
            <p class=" text-[16px] font-bold ">Project Completed</p>
        </div>
        <div class="text-center w-[307px] py-[20px] border-2 border-black">
            <h3 class="lg:!text-[56px] md:!text-[48px] text-[32px] font-bold">6</h3>
            <p class="text-[16px] font-bold ">Happy Clients</p>
        </div>
   </div>
   <!-- Outcomes -->
    <div id="outcomes" class="flex flex-col items-center lg:!mt-[150px] md:!mt-[100px] mt-[60px]">
        <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] text-[40px] mb-[10px]"></i>
        <div>
            <h2 class="lg:!text-[48px] md:!text-[38px] text-[28px] text-center font-bold">Outcomes</h2>
            <p class="text-[16px] text-center font-semibold">REGONITIONS & ACCOIMPLISHMENTS</p>
        </div>
        <div class="Outcomes1 lg:!mt-[80px] mt-[50px] lg:!flex grid  lg:!gap-[80px] gap-[30px]">
            <img class="lg:!w-[550px] grayscaleImage" src="../../../assets/images/development.webp" alt="">
            <div class="flex flex-col outcomeHead justify-between my-[40px]">
            <div class="outcomeHead">
                <p class="bg-[#6e40c9] w-[200px] py-[10px] text-center font-bold text-white">DEVELOPMENT</p>
                <h3 class="lg:!text-[56px] md:!text-[48px] text-[32px] font-extrabold lg:!w-[520px] lg:!leading-[55px] lg:!mt-[30px]">Beautiful & advanced websites</h3>
            </div>
            <a href="/development" class="flex justify-left items-center hover:text-[#6e40c9] cursor-pointer">
                <p class="text-[18px] font-bold underline">Explore </p><i class='bx bx-arrow-back rotate-180 ml-[10px] mt-[2px]'></i>
            </a>
            </div>
        </div>
        <div class="Outcomes2 lg:!mt-[100px] lg:!flex grid lg:!gap-[80px]">
            <div class="flex flex-col justify-between outcomeHead my-[40px]">
            <div class="outcomeHead">
                <p class=" bg-[#6e40c9] w-[200px] py-[10px] text-center font-bold text-white"> DESIGN</p>
                <h3 class="lg:!text-[56px] md:!text-[48px]  text-[32px] font-extrabold lg:!w-[520px] lg:!leading-[55px] lg:!mt-[30px]"> Design & concept at work</h3>
            </div>
            <a href="design" class="flex justify-left items-center hover:text-[#6e40c9] cursor-pointer">
                <p class="text-[18px] font-bold underline ">Explore </p><i class='bx bx-arrow-back rotate-180 ml-[10px] mt-[2px]'></i>
            </a>
            </div>
            <img class="lg:!w-[550px] grayscaleImage" src="../../../assets/images/uiuxDesign.webp" alt="">
        </div>
    </div>

   <!-- Outcomes section-->
   <div class="flex flex-col items-center lg:!mt-[150px] md:!mt-[100px] mt-[60px]">
        <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] text-[40px] mb-[10px]"></i>
        <div>
            <h2 class="lg:!text-[48px] md:!text-[38px] text-[28px] text-center font-bold">Certifications</h2>
            <p class="text-[16px] text-center font-semibold">REGONITIONS & ACCOIMPLISHMENTS</p>
        </div>
        <div class="flex flex-col gap-[20px] lg:!mt-[80px] mt-[50px] certificates">
            <a *ngFor="let certificate of certificates"  target="_blank" href="{{certificate.link}}">
                <div class="certificate lg:!flex md:!flex grid justify-between items-center lg:!w-[1000px] lg:!h-[140px] border-2 border-black px-[30px] hover:bg-black hover:text-white ease-in duration-200">
                    <div class=" lg:!flex md:!flex grid  justify-center items-center">  
                        <div class="w-[48px] h-[48px] flex justify-center items-center text-[18px] text-white font-bold bg-[#6e40c9]">{{certificate.id}}</div>
                        <div class="lg:!pl-[20px] md:!pl-[20px] pl-[0px]">
                            <p class="font-bold lg:!text-[24px] text-[20px]">{{certificate.title}}</p>
                            <p class="font-semibold">{{certificate.description}}</p>
                        </div>
                    </div>
                    <div>
                        <p class="font-semibold lg:!text-[20px]">{{certificate.date}}</p>
                    </div>
                </div>
            </a> 
        </div>
   </div>
   
    <!-- Services  -->
    <div class="flex flex-col items-center lg:!mt-[150px] md:!mt-[100px] mt-[60px]">
        <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] text-[40px] mb-[10px]"></i>
        <div>
            <h2 class="lg:!text-[48px] md:!text-[38px] text-[28px] text-center font-bold">Services</h2>
            <p class="text-[16px] text-center font-semibold">REGONITIONS & ACCOIMPLISHMENTS</p>
        </div>
        <div class="lg:!mt-[80px] mt-[50px] flex flex-wrap lg:!w-[1050px] items-center justify-center gap-[20px]">
            <div class="services flex flex-col justify-center items-left px-[35px] lg:!py-[0px] py-[20px] lg:!w-[510px] lg:!h-[180px] border-2 border-black servicesCard">
                <h3 class="font-bold lg:!text-[36px] md:!text-[28px] text-[22px]">WEB DEVELOPMENT</h3>
                <p class="lg:!mt-[10px]">Constructing interactive digital landscapes that effortlessly unite users with cutting-edge technology.</p>
            </div>
            <div class="services flex flex-col justify-center items-left px-[35px] lg:!py-[0px] py-[20px] lg:!w-[510px] lg:!h-[180px] border-2 border-black servicesCard">
                <h3 class="font-bold lg:!text-[36px] md:!text-[28px] text-[22px]">UI/UX DESIGN</h3>
                <p class="lg:!mt-[10px]">Creating seamless digital designs that connect people and technology for your business.</p>
            </div>
            <div class="services flex flex-col justify-center items-left px-[35px] lg:!py-[0px] py-[20px] lg:!w-[510px] lg:!h-[180px] border-2 border-black servicesCard">
                <h3 class="font-bold lg:!text-[36px] md:!text-[28px] text-[22px]">WORDPRESS DEV</h3>
                <p class="lg:!mt-[10px]">Crafting immersive online journeys that seamlessly integrate users with the power of WordPress.</p>
            </div>
            <div class="services flex flex-col justify-center items-left px-[35px] lg:!py-[0px] py-[20px] lg:!w-[510px] lg:!h-[180px] border-2 border-black servicesCard">
                <h3 class="font-bold lg:!text-[36px] md:!text-[28px] text-[22px]">WEBFLOW DESIGN</h3>
                <p class="lg:!mt-[10px]">Shaping captivating user experiences that seamlessly fuse form and function, delivering delightful interactions.</p>
            </div>
        </div>    
    </div> 

    <!-- Tools and Stack -->
    <div class="flex flex-col items-center lg:!mt-[150px] md:!mt-[100px] mt-[60px]">
        <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] text-[40px] mb-[10px]"></i>
        <div>
            <h2 class="lg:!text-[48px] md:!text-[38px] text-[28px] text-center font-bold">Expertise</h2>
            <p class="text-[16px] text-center font-semibold">REGONITIONS & ACCOIMPLISHMENTS</p>
        </div>
        <div class="lg:!mt-[80px] mt-[50px] flex flex-wrap justify-center items-center max-w-[1300px] gap-[20px]">
            <div *ngFor="let tool of toolsUsed"  class="toolsUsed flex flex-col justify-center items-center border-[1px] border-black lg:!w-[230px] w-[200px] lg:!h-[120px] h-[100px]">
                <i class='lg:!text-[60px] text-[40px] {{tool.toolsIcons}}'></i>
                <p class="font-semibold" >{{tool.toolsName}}</p>
            </div>
        </div>
    </div> 
</div>
<!-- Newsletter -->
<div class="flex flex-col justify-center items-center  lg:!mt-[150px] md:!mt-[100px] mt-[80px]  bg-[#efefef] py-[80px]">
    <div class="lg:!flex md:!flex grid justify-between items-center max-w-[1300px] lg:!w-[1100px] md:!w-[500px]">
        <h3 class="lg:!text-[24px] md:!text-[24px] text-[20px] text-center font-bold">Subscribe to our newsletter</h3>
        <form >
            <div class="lg:!flex grid justify-center items-center lg:!gap-[20px] gap-[10px]  newsletter">
                <input class="border-[2px] border-black lg:!w-[354px] h-[56px] p-[25px]" type="email" id="email" name="Email" id="" placeholder="EMAIL ADDRESS" ngModel required>
                <input onclick="subscribeSubmit()" type="submit" value="Subscribe" class="bg-[#6e40c9] px-[30px] py-[16px]  font-semibold text-white  hover:underline">
            </div>
        </form>
    </div>
</div>    


</div>