<div class="landing">
  <div class="landing-social">
    <ul>
      <li><a href="https://github.com/rajeevc5260"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="https://www.instagram.com/ra___jeev/"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/rajeev-c-596a59223/"><i class="fa-brands fa-linkedin-in"></i></a></li>
    </ul>
    <div class="actionBtn">
      <h3>About & Services</h3>
      <li><i class="fa-solid fa-arrow-right-long"></i></li>
    </div>
  </div>
  <div class="landing-title">
    <h3>Hello I'm <span>Rajeev</span></h3>
    <br />
    <h1>FULLSTACK DEVELOPER</h1>
    <div class="callToAct" *ngFor="let item of pdfFiles">
      <button class="resumebtn" (click)="downloadPdf(item.path, item.name)">Download CV</button>
      <button class="letsTalkBtn" mat-button>Let's talk</button>
    </div>
    <img class="profile-img" src="../../../assets/images/me-one.png" />
  </div>
  <div class="para">
    <p>
      I assist organizations with planning computerized items and transform
      thoughts into a practical and superb experience. I'm focusing on working
      on interface and digital design - primarily building products, branding
      and websites.
    </p>
  </div>
  <div class="email">
    <a  href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKkVJwPvMkKGztxJfjWVhWtZhVBwNmNGJlNBNSrBhPzPDnMJbzQMnMNGzrJKppNWljqWgjs"><p><mat-icon>mail</mat-icon><span>rajeevc5260@gmail.com</span></p></a>
  </div>
</div>
