.main {
  background-color: #1d0c30;
  /* background-image: url(../assets/images/bg-texture.png); */
}
app-header {
  display: flex;
  justify-content: center;
  z-index:999;
}
app-landing {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
app-servies-section {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
app-testimony {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
