<div class="flex justify-center items-center h-[90vh] ">
    <div class="text-center bg-[#6e40c921] flex flex-col justify-center items-center py-[40px] px-[20px] rounded">
        <h1 class="text-[#6e40c9] lg:!text-[70px] md:!text-[60px] text-[50px] font-extrabold">404</h1>
        <h2 class="lg:!text-[50px] md:!text-[40px] text-[35px] font-bold">Page Not Found</h2>
        <p class="w-[60%]">The page you are looking for doesn't exist. Go back to the homepage.</p>
        <button routerLink="" class="bg-[#6e40c9] text-white px-[20px] py-[10px] hover:underline text-center mt-[20px]">Back to Home</button>
    </div>
</div>
