
<div class="flex flex-col items-center mt-[50px]">
    <!-- <i class="fa-solid fa-star-of-life mt-[5px] text-[#6e40c9] text-[40px] mb-[10px]"></i> -->
    <div class="flex flex-col justify-center items-center lg:!w-[900px] md:!w-[680px] w-[300px]">
        <h1 class="lg:!text-[56px] md:!text-[48px] text-[36px] text-center font-bold lg:!leading-[60px] md:!leading-[50px] leading-[45px]">Unifying Approaches With Extreme Programming Practices</h1>
        <p class="text-[16px] text-center font-semibold lg:!w-[600px] mt-[15px] ">Experience the perfect blend of captivating design and innovative technology with our visually stunning and technologically advanced website.</p>
    </div>
</div>    